%h1 
  = t('view.post_show')
%p
  = t('attributes.post.content')
  = @post.content
%p
  = t('attributes.post.created_at')
  = @post.created_at
%p
  = link_to t('view.post_edit'), edit_post_path(@post), class: 'btn btn-primary'
  = link_to t('delete'), post_path(@post), method: :delete, data: { turbo_method: :delete, turbo_confirm:  t('destroy_confirm') }, class: 'btn btn-danger'
