- if user_signed_in?
  %div
    ログイン中 : 
    = current_user.email
    = link_to t('controller.user.logout'), destroy_user_session_path, method: :delete, data: { turbo_method: :delete },
      class: 'btn btn-danger'
  %div 
    = link_to t('view.post_new'), new_post_path, class: 'btn btn-primary'
- else 
  %div 
    = link_to t('view.user_login'), new_user_session_path, class: 'btn btn-primary'
    = link_to t('view.user_signup'), new_user_registration_path, class: 'btn btn-primary'
%div
  = link_to t('view.post_index'), posts_path, class: 'btn btn-primary'
  = link_to t('view.post_new'), new_post_path, class: 'btn btn-primary'
